*{
    background-color: #831843;
    color: #ffffff;
    font-family: 'Rubik Mono One', sans-serif;
    display: border-box;
}

.heading{
    font-family: 'Monoton', cursive;
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
}

.players{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.moves{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.buttons{
    margin-top:100px;
    display:flex;
    justify-content: space-around;
    }

.button{
    font:100px;
}

#playerChoice{
    margin-left: 30px;
}

#computerChoice{
    margin-left: 30px;
}

#scores {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 100px;
}

button{
    width: 150px;
    height: 50px;

}
