/*.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
   
}

#button{
    width: 70%;
    border-style: solid;
    border-color: #86198F;
    border-width: 3px;
    font-size: 35px;
    background-color: #67E8F9;
    
}

*/